.cover {
  display: flex;
  height: 389px;
  width: 100%;
  background-image: url("../../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.cover__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 90px auto;
}

.cover__slogan-element-one {
  font-size: 27.5px;
  font-weight: bold;
  color: @lightblue;
}

.cover__slogan-element-two {
  font-size: 16px;
  font-style: italic;
  text-transform: lowercase;
  color: #766458;
}

.cover__slogan-place-name {
  font-size: 49px;
  font-weight: bold;
  color: @white;
}

.cover__slogan-prank {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-style: italic;
  text-transform: initial;
  color: @white;
}

@media (min-width: @tablet-width) {
  .cover {
    height: 518px;
    max-width: 1200px;
  }

  .cover__slogan {
    margin: 77px auto 100px auto;
  }
}
