.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 320px;
  width: 100%;
  max-width: 1200px;
  height: 56px;
}

.main-nav__burger {
  color: white;
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 2;
  display: block;
  // align-self: flex-end;
  width: 23px;
  height: 23px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: @white;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;

  &:hover {
    background-color: fade(#81b3d2, 0.6);
    box-shadow:
      0 9px 0 0 fade(#81b3d2, 0.6),
      0 18px 0 0 fade(#81b3d2, 0.6);
  }
  &:active {
    background-color: fade(#81b3d2, 0.3);
    box-shadow:
      0 9px 0 0 fade(#81b3d2, 0.3),
      0 18px 0 0 fade(#81b3d2, 0.3);
  }
}

.main-nav--closed .main-nav__burger::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.main-nav--closed .main-nav__burger:hover::before {
  background-color: fade(#81b3d2, 0.6);
  box-shadow:
    0 9px 0 0 fade(#81b3d2, 0.6),
    0 18px 0 0 fade(#81b3d2, 0.6);
}

.main-nav--closed .main-nav__burger:active::before {
  background-color: fade(#81b3d2, 0.3);
  box-shadow:
    0 9px 0 0 fade(#81b3d2, 0.3),
    0 18px 0 0 fade(#81b3d2, 0.3);
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    z-index: 1;
    min-height: 225px;
  }

  .main-nav--nojs .main-nav__burger {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav--nojs .main-nav__item--active a {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  .main-nav--nojs .main-nav__item:hover {
    background-color: #669ec0;
    color: rgba(255, 255, 255, 0.6)
  }

  .main-nav--nojs .main-nav__item:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
  }
}

.main-nav--opened .main-nav__burger {
  color: #81b3d2;
  background-color: #81b3d2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -4px;
    width: 32px;
    height: 4px;
    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(#ffffff, 60%);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav__wrapper {
  display: flex;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__list a {
  position: relative;
  display: block;
  background-color: #81b3d2;
  padding-top: 17px;
  padding-bottom: 12px;
  color: @white;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

.main-nav__item {
  display: flex;
  justify-content: center;
  height: 56px;
  background-color: @lightblue;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .main-nav__burger {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .main-nav__list a {
    color: @black;
    border: none;
    background-color: @white;

    &:hover {
      color: @lightblue;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .main-nav__list .main-nav__item--active a {
    color: #766357;
  }

  .main-nav__item {
    flex-direction: row;
    background-color: @white;
    color: @black;
  }
}
