.main-header__logo {
  display: flex;
  width: 0;
  height: 0;
  border-width: 96px;
  border-style: solid;
  border-color: #81b3d3;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
  justify-content: center;
}

.main-header__logo-image {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 101px;
  height: 84px;
  top: 0;
  z-index: 100;
}
