.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: @white;
  color: #333333;
}

@media (min-width: @desktop-width) {
  .page__body {
    max-width: 1280px;
  }
}
